{% extends 'base.html.twig' %}

{% block title %}Practice{% endblock %}

{% block stylesheets %}
    <link href="/js-vendor/tienvx/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/js-vendor/tienvx/chessboardjs/css/chessboard-0.3.0.min.css" rel="stylesheet" media="screen" />
    <link href="/resources/css/board.css" rel="stylesheet" media="screen" />
    <link href="/resources/css/homepage.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block nav_links %}
    {% if logged_in %}
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/register">Register</a></li>
    {% endif %}
    <li><a href="/rooms">Rooms</a></li>
    <li class="active"><a href="/practice">Practice</a></li>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Practice with bot</h2>

    <p>Status: <span id="status"></span></p>

    <div id="board" style="width: 400px"></div>

    <div class="btn-group">
        <a class="btn btn-primary" type="button" href="practice">Restart</a>
    </div>

</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var chess_turn = 'w';
</script>
<script src="/js-vendor/tienvx/jquery/jquery-1.11.2.min.js"></script>
<script src="/js-vendor/tienvx/bootstrap/js/bootstrap.min.js"></script>
<script src="/js-vendor/tienvx/chessjs/chess.min.js"></script>
<script src="/js-vendor/tienvx/chessboardjs/js/chessboard-0.3.0.min.js"></script>
<script src="/resources/js/chess.js"></script>
<script src="/resources/js/chess-practice.js"></script>
{% endblock %}
