<div id="message">
</div>
<div id="message-template" style="display: none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span class="message"></span>
    </div>
</div>

<div id="players">
    <div class="white-player">{{ players.white ? players.white : '-' }}</div>
    <div class="black-player">{{ players.black ? players.black : '-' }}</div>
</div>

<p>Status: <span id="status"></span></p>
