{% extends 'base.html.twig' %}

{% block title %}Watch Game{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/js-vendor/tienvx/chessboardjs/css/chessboard-0.3.0.min.css" rel="stylesheet" media="screen" />
    <link href="/resources/css/board.css" rel="stylesheet" media="screen" />
    <link href="/resources/css/status.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block body %}
<div class="container">
    {% include 'status.html.twig' with players %}

    <div id="board"></div>

    <a class="btn btn-primary" href="/rooms">Back To Rooms</a>

</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var chess_room_id = '{{ room_id }}';
    var chess_start_position = '{{ start_position }}';
    var chess_highlights = '{{ highlights }}';
</script>
<script src="/js-vendor/tienvx/jquery/jquery-1.11.1.min.js"></script>
<script src="/js-vendor/tienvx/bootstrap/js/bootstrap.min.js"></script>
<script src="/js-vendor/tienvx/chessjs/chess.min.js"></script>
<script src="/js-vendor/tienvx/autobahnjs/autobahn.min.js"></script>
<script src="/js-vendor/tienvx/chessboardjs/js/chessboard-0.3.0.min.js"></script>
<script src="/resources/js/chess.js"></script>
<script src="/resources/js/chess-remote.js"></script>
<script src="/resources/js/chess-watch.js"></script>
{% endblock %}
